#include <Windows.h>

1 ICON "ChangeWindows.ico"

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    POPUP ""
    {
        MENUITEM "TBD: Dialog", 0x10
        MENUITEM "Check now", 0x11
        MENUITEM SEPARATOR
        MENUITEM "Open &www.changewindows.org…", 0x1A
        MENUITEM "&About…", 0x1B
        MENUITEM SEPARATOR
        MENUITEM "&Hide icon until new notification", 0x1E
        MENUITEM "Exi&t", 0x1F
    }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    1   "This program... "
    2   "...\n\n"
    3   "Command-line parameters:\n"
    4   " • hide – starts without tray icon or hides existing one\n"
    5   " • show – restores tray icon of the running program, if any\n"
    6   " • check – instructs running instance to check for updates\n"
    7   " • settings – instructs running instance to open Settings dialog\n"
    8   " • terminate – closes running instance\n"
}
