#include <Windows.h>

1 ICON "ChangeWindows.ico"

1 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    POPUP ""
    {
        MENUITEM "&www.changewindows.org", 0x1A
        MENUITEM SEPARATOR
        MENUITEM "&Check now", 0x11
        MENUITEM "Settings…", 0x10, GRAYED
        MENUITEM "&About…", 0x1B
        MENUITEM SEPARATOR
        MENUITEM "&Hide icon until next notification", 0x1E
        MENUITEM "Exi&t", 0x1F
    }
}

STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
{
    0x01 "Simple and convenient notification of new builds reported by ChangeWindows.org project. "
    0x02 "This is unofficial application, not supported by the project."
    0x03 "\n\n"
    0x04 "Command-line parameters:\n"
    0x05 " • hide – starts without tray icon or hides existing one\n"
    0x06 " • show – restores tray icon of the running program, if any\n"
    0x07 " • check – instructs running instance to check for updates\n"
    0x08 " • settings – instructs running instance to open Settings dialog\n"
    0x09 " • terminate – closes running instance\n"

    0x10 "changewindows.org"

    // 0x20 "There are no new versions at the moment." // ???
    0x21 L"\xE117 Checking…"
    0x22 L"\xE0CA ERROR"
}
